name: Test

on:
  workflow_dispatch:

jobs:
  bump:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event.inputs.branch }}
          fetch-depth: 0
          persist-credentials: true
      - name: Get Version from Tag
        id: tagver
        uses: ChrSchu90/GitTagSemanticVersion@v1.1

      - name: Echo version output
        run: |
          echo "version_tag: ${{ steps.tagver.outputs.version_tag }}"
          echo "is_release: ${{ steps.tagver.outputs.is_release }}"
          echo "is_valid: ${{ steps.tagver.outputs.is_valid }}"
