name: Test workflow

on:
  push:
    tags:
      - '*'

jobs:
  release:
    name: Test action
    runs-on: ubuntu-latest
    permissions: read-all
    steps:
      - name: Create Release
        run: |
          echo "Test"
