name: Version bump

on:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  bump:
    runs-on: ubuntu-latest

    steps:
      - name: Testing
        run: |
          echo "Testing"
